//variables
$testBorder: blue solid 2px
$dashboardWidth: 25vw
$gameDisplayWidth: 50vw
$diceRollingViewHeight: 60vh
$resultsBarSpacer: 20px

//styles
#gameContainer
  display: flex
  flex-direction: row
  min-width: 100vw
  min-height: 100vh

#playerDashboard
  display: flex
  flex-direction: column
  border: $testBorder
  min-width: $dashboardWidth

#computerDashboard
  display: flex
  flex-direction: column
  border: $testBorder
  min-width: $dashboardWidth

#gameDisplay
  display: flex
  flex-direction: column
  min-width: $gameDisplayWidth

#scoreBar
  display: flex
  flex-direction: row
  justify-content: space-around

#diceRollingArea
  min-height: $diceRollingViewHeight
  border: $testBorder

#gameControls
  display: flex
  flex-direction: row
  justify-content: space-around

#gameStats
  display: flex
  flex-direction: row
  justify-content: center

#gameStats > div:nth-child(2)
  margin-left: $resultsBarSpacer
  margin-right: $resultsBarSpacer