//variables
$dashboardWidth: 275px
$gameDisplayWidth: 700px
$diceRollingViewHeight: 55vh
$resultsBarSpacer: 20px
$scoreBarHeight: 20vh

//mixins
@mixin flexColumn
  display: flex
  flex-direction: column

@mixin flexRow
  display: flex
  flex-direction: row

@mixin darkBorderAndBackground
  background-color: #9da9b7
  border: darkslategray solid 4px
  border-radius: 25px
  box-shadow: #57616c 4px 4px 4px


@import url('https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Varela+Round&display=swap')


//styles
body
  font-family: "Varela Round", sans-serif
  background-color: lightsteelblue
  overflow-x: hidden
  min-width: 1000px

footer
  @include flexRow
  justify-content: space-between
  background-color: #3f7824
  border-top: saddlebrown solid 2px
  padding: 4px
  margin-top: auto

#gameContainer
  @include flexRow
  min-width: 90vw
  min-height: 90vh
  justify-content: space-around

.dashboard
  @include flexColumn
  min-width: $dashboardWidth

.dashboardContainer
  @include flexColumn
  @include darkBorderAndBackground
  justify-content: space-evenly
  min-height: 85vh

.gamePlayerNames
  @include flexRow
  justify-content: center
  align-items: center
  min-height: 80px
  font-weight: bold
  font-size: xx-large

#gameDisplay
  @include flexColumn
  min-width: $gameDisplayWidth
  max-width: 50vw

@media screen and (min-width: 1500px)
  #gameDisplay
    min-width: $gameDisplayWidth
  .dashboard
    min-width: $dashboardWidth

@media screen and (min-width: 1501px)
  #gameDisplay
    min-width: 50vw
  .dashboard
    min-width: 20vw

#scoreBar
  @include flexRow
  @include darkBorderAndBackground
  justify-content: space-around
  min-height: $scoreBarHeight
  align-items: center
  font-size: larger
  //margin-top: 80px
  margin-bottom: 20px

#diceRollingArea
  @include flexColumn
  align-items: center
  justify-content: center
  min-height: $diceRollingViewHeight
  //trying to make this look like a table in a casino
  border: solid saddlebrown 10px
  border-radius: 30px
  background-color: #3f7824
  box-shadow: #564b4b 5px 5px 5px

#gameControls
  @include flexRow
  justify-content: space-around
  min-height: 40px
  margin-top: 10px
  margin-bottom: 10px

#gameStats
  @include flexRow
  justify-content: center
  min-height: 80px
  align-items: center
  //margin-top: 15px
  font-size: larger

#gameMessage
  color: #0a8e94
  transition: color 1.2s ease

#gameStats > div:nth-child(2)
  margin-left: $resultsBarSpacer
  margin-right: $resultsBarSpacer

.diceRollContainers
  display: flex
  align-items: center
  justify-content: space-around

.computerRoll
  flex-direction: row-reverse

.handScores
  font-size: x-large
  font-weight: bold

#helpPopup
  @include flexColumn
  position: absolute
  margin: auto
  background-color: powderblue
  border: lightskyblue solid 5px
  border-radius: 20px
  padding: 10px
  min-height: 400px
  justify-content: space-between
  font-size: larger
  top: 200px

#helpTitle
  @include flexRow
  justify-content: space-between

#helpTitle > span
  font-size: x-large
  font-weight: bold
